/* Global Styles */
* {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

html, body, #root {
  height: 100%;
}

main {
  flex: 1 0 auto;
}



/* Scroll Behavior */
@media (max-width: 768px) {
  body {
    padding-top: 60px; 
  }
}

@media (min-width: 769px) {
  body {
    padding-top: 80px;
    scroll-behavior: smooth; 
  }
}
@media (max-width: 768px) {
  footer p, footer small {
    font-size: 12px;
  }
}

/* Footer Styles */
.page-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.page-content > .container {
  flex-grow: 1;
}



.navbar-custom {
  background-color: #eeeeee !important;
}

.navbar-custom .nav-link,
.navbar-custom .dropdown-item {
  color: #000;
  font-weight: 400;
}

.navbar-custom .nav-link.active,
.navbar-custom .dropdown-item.active {
  color: #FDC921 !important;
}

.navbar-custom .nav-link:hover,
.navbar-custom .dropdown-item:hover {
  color: #FDC921;
}

.navbar-custom .btn-masuk {
  color: #000;
  background-color: #FDC921 !important;
  border-color: #FDC921;
  font-weight: 400;
}

.navbar-custom .btn-masuk:hover {
  background-color: #e6a800 !important;
  border-color: #e6a800;
}




/* HOME HERO STYLING */
.home-hero {
  background-size: cover; /* Gambar akan disesuaikan dengan ukuran elemen */
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  position: relative;
  color: white;
}

.home-hero-overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Efek gelap transparan */
  height: 100%;
  display: flex;
  align-items: center;
}

.home-subtitle {
  color: #FDC921;
  margin-bottom: 10px;
  font-weight: 500;
}

.home-description {
  max-width: 600px;
  margin-top: 15px;
  font-size: 1rem;
}

.home-button {
  background-color: #FDC921;
  border-color: #FDC921;
  color: black;
  margin-top: 20px;
  padding: 10px 20px;
  font-weight: bold;
}

.home-button:hover {
  background-color: #e6a800;
  border-color: #e6a800;
  color: black;
}


/* Responsif Table Styling */
@media (max-width: 768px) {
  .table-responsive table th,
  .table-responsive table td {
    font-size: 10px;  /* Menurunkan ukuran font lebih kecil */
    padding: 0.3rem;  /* Mengurangi padding untuk lebih efisien */
  }
  
  /* Mengatur lebar kolom tabel agar lebih kompak pada layar kecil */
  .table-responsive table th:nth-child(6),
  .table-responsive table td:nth-child(6) {
    width: 8%; /* Mempersempit lebar kolom Isha */
  }
  .table-responsive table th:nth-child(5),
  .table-responsive table td:nth-child(5) {
    width: 13%; /* Mempersempit lebar kolom Maghrib */
  }
  .table-responsive table th:nth-child(4),
  .table-responsive table td:nth-child(4) {
    width: 13%; /* Mempersempit lebar kolom Ashar */
  }
  .table-responsive table th:nth-child(3),
  .table-responsive table td:nth-child(3) {
    width: 13%; /* Mempersempit lebar kolom Dzuhur */
  }
  .table-responsive table th:nth-child(2),
  .table-responsive table td:nth-child(2) {
    width: 13%; /* Mempersempit lebar kolom Subuh */
  }
}

